DATABASE_URL=mongodb+srv://aymenbachiri99:AKvNQQ0IBunKIood@cluster0.dvxyrhs.mongodb.net/projectFlow?retryWrites=true&w=majority&appName=Cluster0
AUTH_SECRET="qVrWFFDOdoNqmnmURnbvMaDJqeEbFO5q9W5IhrblXxo="
USERNAME=aymenbachiri99
PASSWORD=AKvNQQ0IBunKIood